<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center">
      <h1>Welcome to the Trump Countdown</h1>
      <h2>This nonsense ends:</h2>
      <div id="time"></div>
      <h2>Time remaining:</h2>
      <div id="time-remaining"></div>
      <br>
      <br>
      <br>
      <div id="links">
        <h4>This will only happen if you give your time, energy and money!</h4>
        <h5>Use the links below to get reclaim our government for everyone!</h5>
        <p>First, if you're a citizen, be sure to <%= link_to "register to VOTE", "https://vote.gov/", :target => "_blank" %></p>
        <p><%= link_to "The Democratic Party", "https://www.democrats.org/", :target => "_blank" %></p>
        <p><%= link_to "MoveOn", "http://front.moveon.org/", :target => "_blank" %></p>
        <p><%= link_to "American Civil Liberties Union", "https://www.aclu.org/", :target => "_blank" %></p>
        <p><%= link_to "Write to your Representatives", "https://democracy.io/#/", :target => "_blank" %></p>
        <p>Fax your <%= link_to "Congressional Representative", "https://faxzero.com/fax_congress.php", :target => "_blank" %> or <%= link_to "Senator", "https://faxzero.com/fax_senate.php", :target => "_blank" %></p>



      </div>

  </div>
  <div class="col-md-3"></div>
</div>

<!-- Add links to dem party, ACLU, planned parenthood, science, register to vote, write your reps, etc -->